// the styles of code is written in // note: CodeBlock.tsx

.post-content {
  font-family: var(--ff-serif);
  font-size: 18px;

  *:first-child {
    margin-top: 0;
  }

  pre,
  p, h1, h2, h3, h4, h5, h6 {
    max-width: var(--spacing-max-para-width);
  }

  p {
    font-size: 1em;
    line-height: 1.5;
    // text-align: justify;
    // -webkit-hyphens: auto;
    // hyphens: auto;
    margin: 0.5em 0;
  }

  h2 {
    font-size: 1.25em;
    line-height: 1.24;
    font-weight: bold;
    color: var(--color-text-em);
    margin-top: 1.5em;
    margin-bottom: 0.75em;
    font-family: var(--ff-sans);
    text-transform: uppercase;
  }

  h3 {
    // font-size: 1em;
    font-weight: bold;
    color: var(--color-text-em);
    line-height: 1.65;

    margin-top: 1.25em;
    margin-bottom: 0.5em;
    // font-family: var(--ff-sans);
  }
}
