// the styles of code is written in // note: CodeBlock.tsx

.post-content {
  font-family: var(--ff-serif);
  font-size: 18px;

  pre,
  p {
    grid-column: span 8;
  }

  p {
    font-size: 1em;
    line-height: 1.65;
    // text-align: justify;
    // -webkit-hyphens: auto;
    // hyphens: auto;
  }
}
