.page-header {
  padding-top: 64px;
  padding-bottom: 48px;
}

.page-title {
  transform: translate(-2px, 0);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-text-em);
}

.page-summary {
  margin-top: 16px;
}