.page-header {
  padding-top: 64px;
  padding-bottom: 48px;
}

.page-title {
  transform: translate(-2px, 0);
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-text-em);
}

.page-summary {
  margin-top: 16px;
}

.page-label {
  text-transform: uppercase;
  font-weight: bold;
  color: var(--color-text-em);
  margin-bottom: 4px;
  &:hover {
    text-decoration: underline;
  }
}


.page-authors-bar {
  margin-top: 16px;

  .author-name {
    font-weight: bold;
    color: var(--color-text-em);
    &:hover {
      text-decoration: underline;
    }
  }
}