.hover-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;

  &.onLight {
    &:hover {
      background-color: rgba(black, 0.04);
    }
  
    &:active {
      background-color: rgba(black, 0.08);
    }
  }

  &.onDark {
    &:hover {
      background-color: rgba(white, 0.12);
    }
  
    &:active {
      background-color: rgba(white, 0.16);
    }
  }
}

.text-button {
  text-align: center;
  color: var(--color-text-sec);

  &.fill {
    .container {
      background-color: var(--color-bg-sec-trans);
    }
  }

  &.outline {
    .container {
      border: 1px solid var(--color-border-main);
    }
  }

  &.smallest {
    padding: 4px 0;
    .container {
      padding: 8px;
    }
  }
}