:root {
  --ff-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", sans-serif;

  --ff-serif: "Times New Roman", Times, serif;

  --ff-mono: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas,
    Liberation Mono, monospace;
}

html,
body {
  font-family: var(--ff-sans);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--color-text-main);
}

.ff-sans {
  font-family: var(--ff-sans);
}
.ff-serif {
  font-family: var(--ff-serif);
}
.ff-mono {
  font-family: var(--ff-mono);
}

b,
strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

.katex {
  font-size: 1em !important;
}

.material-symbols-outlined {
  font-variation-settings: //
    "FILL" 0,
    //
    "wght" 300,
    //
    "GRAD" 0,
    //
    "opsz" 24;
}

.font-size-largest {
  font-size: 56px;
  line-height: 64px;

  @media only screen and (max-width: 720px) {
    font-size: 48px;
    line-height: 56px;
  }

  @media only screen and (max-width: 640px) {
    font-size: 40px;
    line-height: 48px;
  }
}

.font-size-largest-2 {
  font-size: 48px;
  line-height: 56px;

  @media only screen and (max-width: 640px) {
    font-size: 40px;
    line-height: 48px;
  }
}

.font-size-larger {
  font-size: 24px;
  line-height: 32px;
}

.font-size-large {
  font-size: 18px;
  line-height: 26px;
}

.font-size-medium {
  font-size: 16px;
  line-height: 24px;
}

.font-size-small {
  font-size: 14px;
  line-height: 22px;
}

.font-size-smaller {
  font-size: 12px;
  line-height: 20px;
}
