p {
  code {
    font-family: var(--ff-mono);
    font-size: calc(14 / 18 * 1em);
    vertical-align: baseline;
    background-color: var(--color-bg-sec);
    border: 1px dashed var(--color-border-main-trans);
    padding: 0.15em 0.3em;
    border-radius: 0.2em;

    color: var(--color-text-sec-trans);
  }
}

.katex-display {
  display: block;
  max-width: var(--spacing-max-para-width);
  overflow-x: auto;
  overflow-y: hidden !important;
  white-space: nowrap !important;

  .katex {
    display: inline-block; /* 保持内容水平排列 */
    width: 100%;
    height: 100%;
    // margin-left: 1.5em;
    padding: 2px 0;
    
  }
}