p {
  code {
    font-family: var(--ff-mono);
    font-size: calc(14 / 17 * 1em);
    vertical-align: baseline;
    background-color: var(--color-bg-sec);
    border: 1px dashed var(--color-border-main-trans);
    padding: 0.15em 0.3em;
    border-radius: 0.2em;

    color: var(--color-text-sec-trans);
  }
}

pre {
  margin: 2em 0;
  font-family: var(--ff-mono);

  line-height: 1.5;
  border-radius: 0.4em;

  background-color: var(--color-bg-pale);
  // background-color: var(--color-bg-reverse-main);
  border: 1px solid var(--color-border-main);

  white-space: pre-wrap;

  code {
    font-size: calc(14 / 17 * 1em);
    padding: 2em !important;
    background-color: rgba(white, 0) !important;
  }
}
