.copy-btn {
  display: none;
}

p {
  code {
    font-family: var(--ff-mono);
    font-size: calc(14 / 18 * 1em);
    vertical-align: baseline;
    background-color: var(--color-bg-darken);
    padding: 0.15em 0.3em;
    border-radius: 0.3em;
  }
}

.code-block {

  margin: 2rem 0;
  font-family: var(--ff-mono);
  
  line-height: 1.5;
  border-radius: 4px;

  background-color: var(--color-bg-pale);
  // background-color: var(--color-bg-reverse-main);
  border: 1px dashed var(--color-border-main);

  .code-block-content {
    code {
      font-size: calc(14 / 18 * 1em);
      padding: 2em;
      background-color: rgba(white, 0)
    }
  }
}
