.nav {
  writing-mode: vertical-lr;
  transform: scale(-1);

  position: fixed;
  top: var(--spacing-nav-size);
  left: 0;

  height: calc(100% - var(--spacing-nav-size));

  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: -1px;

  background-color: var(--color-bg-sec);

  .item {
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    color: var(--color-text-em);
    line-height: var(--spacing-nav-size);
    cursor: pointer;

    &[class~="active"] {
      background-color: var(--color-bg-reverse-main);
      color: var(--color-text-reverse-em);
    }

    &:not(:first-of-type) {
      border-top: 1px solid var(--color-border-main);
    }
  }
}