.aside-info-box {
  .title-bar {
    .title {
      font-weight: bold;
      color: var(--color-text-em);
    }
  }

  .body {
    margin-top: 8px;

    *:first-child {
      margin-top: 0;
    }

    & > * {
      display: block;
      margin-top: 8px;
    }

    p a:hover {
      text-decoration: underline;
    }
  }
}

.keywords-box {
  padding: 4px 0;
  .keywords {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 8px;
    color: var(--color-text-sec);
  
    .keyword {
      background-color: var(--color-bg-sec);
      padding: 4px 16px;
      border-radius: 1000px;
      overflow: hidden;
    }
  
    .hint-no-keywords {
      color: var(--color-text-neg);
    }
  }
}